h1 {
    font-size: 88px;
    font-weight: 400;
    margin-bottom: 24px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 80px;
}

.above-the-fold {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 104px);
    width: 100%;
    padding: 0 64px;
}

.my-picture {
    height: calc(1280px/2.5);
    width: calc(879px/2.5);
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-link-section {
        position: relative;
        width: 100%;

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-bottom: 24px;

            img {
                transition: transform 0.25s ease-in-out;
                &:hover {
                    transform: scaleX(1.1);
                }
            }
        }

        .link-section {
            position: absolute;
            display: flex;
            flex-direction: column;
            right: 0;
            top: -32px;
            gap: 16px;
        }
    }

    .arrow-wrap {
        position: relative;
        display: inline-block;
        width: max-content;
        height: auto;

        .arrow-down {
            display: block;
            cursor: pointer;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(255, 255, 255, 0);
            transition: background 0.25s ease, opacity 0.25s ease;
            pointer-events: none;
            z-index: 2;
            border-radius: 20px;
        }

        &:hover::after {
            background: rgba(255, 255, 255, 0.1);
        }
    }
}

.mail-hover {
    height: 30px;
    width: 30px;

    &:hover {
        content: url("./../../assets/img/atf/mail-hover.png");
    }
}

.github-hover {
    height: 30px;
    width: 30px;

    &:hover {
        content: url("./../../assets/img/atf/github-hover.png");
    }
}

.linkedin-hover {
    height: 30px;
    width: 30px;
    
    &:hover {
        content: url("./../../assets/img/atf/linkedin-hover.png");
    }
}