<div class="max-width-container">
    <div class="above-the-fold">
        <img class="my-picture" src="assets/img/atf/stiker-4574586_1280.png" alt="">
        <div class="info-section">
            <div class="logo-link-section">
                <div class="logo">
                    <img src="assets/img/atf/logo-icon.png" alt="">
                    <p class="anta-font">P.Wimmer</p>
                    <p class="theme-color">Developer</p>
                </div>
                <div class="link-section">
                    <a class="mail-hover" href="">
                        <img src="assets/img/atf/email.png" alt="">
                    </a>
                    <a class="github-hover" href="">
                        <img src="assets\img\atf\github.png" alt="">
                    </a>
                    <a class="linkedin-hover" href="">
                        <img src="assets/img/atf/linkedin.png" alt="">
                    </a>
                </div>
            </div>
            <h1>Philipp Wimmer</h1>
            <h2>FRONTEND DEVELOPER</h2>
            <div class="arrow-wrap">
                <img class="arrow-down" src="assets/img/atf/arrow-down.png" alt="">
            </div>
        </div>
    </div>
</div>
