.above-the-fold {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 64px;
}

.my-picture {
    height: calc(1280px/2.5);
    width: calc(879px/2.5);
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}