<div class="content">
    <div class="project-description">
        <div class="explanation">
            <img src="assets/img/my-projects/ellipse.png" alt="">
            <div class="gap">
                <p>
                    {{texts[languageService.currentLang()].aboutText}}
                </p>
            </div>
        </div>
    </div>
    <div class="project-window">
        <div class="technologies-container">
            <p>{{texts[languageService.currentLang()].technologyies}}</p>
            <div class="technologies">
                <img src="assets/img/my-skills/html-icon.png" alt="">
                <img src="assets/img/my-skills/javascript-icon.png" alt="">
                <img src="assets/img/my-skills/css-icon.png" alt="">
            </div>
        </div>
        <img src="assets/img/my-projects/Screenshot project.png" alt="">
    </div>
    <div class="technologies-mobile">
        <h3>{{texts[languageService.currentLang()].projectName}}</h3>
        <div>
            <p>{{texts[languageService.currentLang()].technologiesText}}</p>
        </div>
    </div>
</div>