h3 {
    font-size: 28px;
}

p {
    font-size: 18px;
    max-width: 690px;
}

.content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 64px;
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project-window {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.text-and-duration {
    display: flex;
    align-items: center;
    gap: 32px;
}

.explanation {
    display: flex;
    gap: 32px;

    img {
        height: 26px;
        width: 29px;
    }
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.technologies {
    display: flex;
    gap: 24px;

    img {
        height: 56px;
        width: auto;
    }
}