<div class="content">
    <div class="button-container-mobile">
        <button>Comming soon</button>
    </div>
    <div class="project-description">
        <div class="explanation">
            <img src="assets/img/my-projects/ellipse.png" alt="">
            <div class="gap">
                <div class="text-and-duration">
                    <h3>Über das Projekt</h3>
                    <p>Zeitaufwand: 2 Monate</p>
                </div>
                <p>
                    This App is a Slack Clone App. It revolutionizes team communication and collaboration with its intuitive interface, real-time messaging, and robust channel organization.
                </p>
            </div>
        </div>
    </div>
    <div class="project-window">
        <div class="technologies-container">
            <p>Technologien</p>
            <div class="technologies">
                <img src="assets/img/my-skills/html-icon.png" alt="">
                <img src="assets/img/my-skills/javascript-icon.png" alt="">
                <img src="assets/img/my-skills/css-icon.png" alt="">
            </div>
        </div>
        <img src="assets/img/my-projects/Screenshot project.png" alt="">
    </div>
    <div class="technologies-mobile">
        <h3>Ongoing Project</h3>
        <div>
            <p>Technologien: Angular, Typescript, Firebase</p>
        </div>
    </div>
</div>