<div class="background">
    <nav>
        <div class="logo">
            <img src="assets/img/header/logo-icon-nav.png" alt="">
            <p class="anta-font">P.Wimmer</p>
            <p class="dark-theme-color">Developer</p>
        </div>
        <div class="links-container">
            <a [routerLink]="[]" fragment="why-me">Warum Ich</a>
            <a [routerLink]="[]" fragment="my-skills">Skills</a>
            <a [routerLink]="[]" fragment="my-projects">Projekte</a>
            <a [routerLink]="[]" fragment="contact">Kontakt</a>
        </div>
        <div>
            <button>DE</button>
            /
            <button>EN</button>
        </div>
    </nav>
</div>
