<div class="background">
    <nav>
        <div class="logo">
            <img src="assets/img/header/logo-icon-nav.png" alt="">
            <p class="anta-font">P.Wimmer</p>
            <p class="dark-theme-color">Developer</p>
        </div>
        <div class="links-container">
            <a [routerLink]="[]" fragment="why-me">{{ texts[languageService.currentLang()].why }}</a>
            <a [routerLink]="[]" fragment="my-skills">{{ texts[languageService.currentLang()].skills }}</a>
            <a [routerLink]="[]" fragment="my-projects">{{ texts[languageService.currentLang()].projects }}</a>
            <a [routerLink]="[]" fragment="contact-me">{{ texts[languageService.currentLang()].contact }}</a>
        </div>
        <div class="language">
            <div [ngClass]="{'active': languageService.currentLang() === 'DE'}">
                <button (click)="languageService.setLanguage('DE')">DE</button>
            </div>
            <div [ngClass]="{'active': languageService.currentLang() === 'EN'}">
                <button (click)="languageService.setLanguage('EN')">EN</button>
            </div>
        </div>
    </nav>
</div>
