a {
    transition: color 0.25s ease-in-out;

    &:hover {
        color: rgb(248, 245, 236);
        transition: color 0.25s ease-in-out;
    }
}

button {
    width: 40px;
    height: 40px;
    text-align: center;
    color: rgb(38, 46, 52);
    transition: color 0.25s ease-in-out;

    &:hover {
        color: rgb(248, 245, 236);
        transition: color 0.25s ease-in-out;
    }
}

.active {
    color: rgb(248, 245, 236);
    cursor: auto;
    background-image: url("../../../assets/img/header/language-ellipse-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

nav {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        height: 32px;
        width: auto;
    }
}

.links-container {
    font-size: 26px;
    width: 677px;
    display: flex;
    justify-content: space-between;
}

.background {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: rgb(137, 188, 217);
    z-index: 10;
}

@media (max-width: 1130px) {
    .links-container {
        justify-content: space-evenly;
    }
}