h1 {
    font-size: 60px;
    margin-bottom: 50px;
    color: rgb(137, 188, 217);
}

.my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-names {
    width: 100%;
    max-width: 1440px;
    padding: 0 64px;
    display: flex;
    align-items: center;
}

.project-names-box {
    font-size: 30px;
    font-weight: bold;
    color: rgb(137, 188, 217);
    padding: 24px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.25s ease-in-out;

    &:hover {
        transition: color 0.25s ease-in-out;
        color: rgb(248, 245, 236);
    }
}

.project-name-active {
    background-color: rgb(45, 56, 63);
    border-radius: 30px 30px 0 0;
    color: rgb(248, 245, 236);
}

.projects-container {
    background-color: rgb(45, 56, 63);
    width: 100%;
}

@media (max-width: 1000px) {
    .project-names {
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .project-names {
        padding: 0;
    }

    .project-names-box {
        padding: 12px 16px;
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    
}