<div class="why-me">
    <h1>Warum ich</h1>
    <div class="why-me-section">
        <div class="location">
            <div class="complete-icon">
                <img src="assets/img/why-me/location-icon.png" alt="">
                <img class="icon-ellipse" src="assets/img/why-me/icon-ellipse.png" alt="">
            </div>
            <p>
                <span class="blue-text">Ich bin</span> in Eisenstadt ansässig
            </p>
        </div>
        <div class="why-me-text">
            <p>
                Why are you passionate about coding?  
                You can include some key traits like: analytical thinking, creativity, persistence and  collaboration.
                A problem-solving mindset is always nice to have.
            </p>
            <button>Let's talk</button>
        </div>
    </div>
</div>