<div class="why-me">
    <h1>{{ texts[languageService.currentLang()].whyMe }}</h1>
    <div class="why-me-section">
        <div class="location">
            <div class="complete-icon">
                <img src="assets/img/why-me/location-icon.png" alt="">
                <img class="icon-ellipse" src="assets/img/why-me/icon-ellipse.png" alt="">
            </div>
            <p>
                <span class="blue-text">{{ texts[languageService.currentLang()].blueTextLocation }}</span> {{ texts[languageService.currentLang()].location }}
            </p>
        </div>
        <div class="why-me-text">
            <p>
                {{ texts[languageService.currentLang()].why }}
            </p>
            <button [routerLink]="[]" fragment="contact-me">Let's talk</button>
        </div>
    </div>
</div>