<div class="why-me">
    <h1>Warum ich</h1>
    <div class="why-me-section">
        <div class="location">
            <div class="complete-icon">
                <img src="assets/img/why-me/location-icon.png" alt="">
                <img class="icon-ellipse" src="assets/img/why-me/icon-ellipse.png" alt="">
            </div>
            <p>
                <span class="blue-text">Ich bin</span> in Eisenstadt ansässig
            </p>
        </div>
        <div class="why-me-text">
            <p>
                Was mich am Coden wahnsinnig begeistert, ist, dass man etwas aus dem Nichts erschafft und seine Kreativität voll ausleben kann. Durch mein analytisches Denken und den Drang, Neues zu lernen, kann ich mich in diesem Bereich komplett entfalten.
            </p>
            <button [routerLink]="[]" fragment="contact-me">Let's talk</button>
        </div>
    </div>
</div>