h1 {
    font-size: 60px;
    margin-bottom: 50px;
    color: rgb(137, 188, 217);
}

.why-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-text {
    color: rgb(137, 188, 217);
}

.location p {
    font-size: 30px;
}

.why-me-text p {
    font-size: 18px;
}

.complete-icon {
    position: relative;
    width: 75px;
    height: 64px;
}

.icon-ellipse {
    position: absolute;
    left: 25px;
    top: 40px;
}

.why-me-section {
    display: flex;
    align-items: start;
    width: 860px;
    gap: 48px;
}

.location {
    width: 50%;
    display: flex;
    align-items: center;
}

.why-me-text {
    position: relative;
    width: 50%;
}

.why-me-text button {
    text-align: center;
    float: right;
    color: rgb(137, 188, 217);
    margin-top: 30px;
    height: 48px;
    width: 134px;
    border: solid rgb(137, 188, 217) 2px;
    border-radius: 30px;
    font-size: 18px;
    transition: background-color 0.25s ease-in-out;

    &:hover {
        transition: background-color 0.25s ease-in-out;
        background-color: rgba(255, 255, 255, 0.1);
    }
}