<div class="contact-me">
    <h1>{{texts[languageService.currentLang()].heading}}</h1>
    <img src="" alt="">
    <div class="contact-container">
        <div class="contact-data">
            <p class="width-50pc">{{texts[languageService.currentLang()].description}}</p>
            <div class="email-phone-container">
                <a class="email" href="mailto:wimmer.philipp@gmx.com">
                    <img src="assets/img/contact/email-icon.png" alt="">
                    {{texts[languageService.currentLang()].emailLabel}} wimmer.philipp&#64;gmx.com
                </a>
                <a class="phone" href="tel:+436604488501">
                    <img src="assets/img/contact/phone-icon.png" alt="">
                    {{texts[languageService.currentLang()].phoneLabel}} +43660/4488501
                </a>
            </div>
        </div>
        <form class="contact-form">
            <div class="input-row">
                <div class="input-group">
                    <label for="name">{{texts[languageService.currentLang()].nameLabel}}</label>
                    <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
                </div>
                <div class="input-group">
                    <label for="email">{{texts[languageService.currentLang()].emailFieldLabel}}</label>
                    <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
                </div>
            </div>
            <div class="input-group">
                <label for="message">{{texts[languageService.currentLang()].messageLabel}}</label>
                <textarea id="message" name="message" rows="5" [(ngModel)]="formData.message" required></textarea>
            </div>
        </form>
        <div class="privacy-policy">
            <button
                class="privacy-checkbox" 
                type="button"
                (click)="privacyAccepted = !privacyAccepted"
                [class.checked]="privacyAccepted"
            >
                <img class="checkbox-unchecked" src="assets/img/contact/unchecked-box.png" alt="">
                <img class="checkbox-hover" src="assets/img/contact/unchecked-hover.png" alt="">
                <img class="checkbox-checked" src="assets/img/contact/checked.png" alt="">
                <img class="checkbox-required" src="assets/img/contact/unchecked-requiered.png" alt="">
            </button>
            <p>
                {{texts[languageService.currentLang()].privacyText1}}
                <a href="">{{texts[languageService.currentLang()].privacyLink}}</a>
                {{texts[languageService.currentLang()].privacyText2}}
            </p>
        </div>
        <button>{{texts[languageService.currentLang()].sendButton}}</button>
    </div>
    <div class="arrow-wrap">
        <a [routerLink]="[]" fragment="above-the-fold">
            <img class="arrow-up" src="assets/img/contact/arrow-up-icon.png" alt="">
        </a>
    </div>
</div>
