h1 {
    font-size: 60px;
    margin-bottom: 50px;
    color: rgb(137, 188, 217);
}

p {
    font-size: 18px;
}

a {
    color: rgb(137, 188, 217);
}

button {
    float: right;
    border: solid 1px rgb(128, 128, 128);
    border-radius: 30px;
    height: 48px;
    padding: 0 24px;
    font-size: 18px;
    color: rgb(128, 128, 128);
    cursor: auto;
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    width: 911px;
}

.contact-data {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 50px;
    margin-bottom: 50px;
}

.email-phone-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.email-phone {
    display: flex;
    align-items: center;
    gap: 16px;
}

.width-50pc {
    width: 50%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
    color: rgb(137, 188, 217);
}

.input-row {
    display: flex;
    gap: 16px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

label {
    margin-bottom: 6px;
    margin-left: 24px;
}

input,
textarea {
    padding: 24px;
    border: 1px solid rgb(137, 188, 217);
    border-radius: 30px;
    width: 100%;
    font-size: 18px;
    background-color: rgb(38, 46, 52);
    color: rgb(248, 245, 236);
    transition: background-color 0.5s ease;
    resize: none;
}

input {
    height: 60px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: rgb(137, 188, 217);
    background-color: rgba(137, 188, 217, 0.2);
}

.privacy-policy {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 24px 0;

    img {
        height: 28px;
        width: 28px;
        transition: transform 0.25s ease-in-out;
        &:hover {
            height: 28px;
            width: 28px;
            transition: transform 0.25s ease-in-out;
            transform: rotate(10deg);
            cursor: pointer;
            content: url("./../../assets/img/contact/unchecked-hover.png");
        }
    }
}

.arrow-wrap {
    position: absolute;
    right: 64px;

    .arrow-up {
        display: block;
        cursor: pointer;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255, 0);
        transition: background 0.25s ease, opacity 0.25s ease;
        pointer-events: none;
        z-index: 2;
        border-radius: 20px;
    }

    &:hover::after {
        background: rgba(255, 255, 255, 0.1);
    }
}