<div class="contact-me">
    <h1>Kontakt</h1>
    <img src="" alt="">
    <div class="contact-container">
        <div class="contact-data">
            <p class="width-50pc">Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work. Example: Feel free to get in touch with job offers or opportunities such as: ...</p>
            <div class="email-phone-container">
                <div class="email-phone">
                    <img src="assets/img/contact/email-icon.png" alt="">
                    <p>E-mail: wimmer.philipp&#64;gmx.com</p>
                </div>
                <div class="email-phone">
                    <img src="assets/img/contact/phone-icon.png" alt="">
                    <p>Tel: +43660/4488501</p>
                </div>
            </div>
        </div>
        <form class="contact-form">
            <div class="input-row">
                <div class="input-group">
                    <label for="name">Dein Name</label>
                    <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
                </div>
                <div class="input-group">
                    <label for="email">Deine Email</label>
                    <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
                </div>
            </div>

            <div class="input-group">
                <label for="message">Deine Nachricht</label>
                <textarea id="message" name="message" rows="5" [(ngModel)]="formData.message" required></textarea>
            </div>
        </form>
        <div class="privacy-policy">
            <img src="assets/img/contact/unchecked-box.png" alt="">
            <p>Ich habe die
                <a href="">Datenschutzrichtlinien</a>
                gelesen und akzeptiere diese. 
            </p>
        </div>
        <button>Senden</button>
    </div>
    <div class="arrow-wrap">
        <img class="arrow-up" src="assets/img/contact/arrow-up-icon.png" alt="">
    </div>
</div>
