<div class="my-skills">
    <h1>Meine Skills</h1>
    <div class="content">
        <div class="skill-icons">
            @for (icon of skillIcons; track icon) {
                <img src="{{icon}}" alt="">
            }
        </div>
        <div class="currently-learning">
            <img class="ellipse" src="assets/img/my-skills/ellipse.png" alt="">
            <div class="learning-text">
                <p class="c-blue">Aktuell lerne ich</p>
                <img src="assets/img/atf/stiker-4574586_1280.png" alt="">
                <p>Show that you are motivated to continually improve your skills, implement innovative solutions and stay abreast of new technologies.</p>
            </div>
        </div>
    </div>
</div>