* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Anta";
    src: url("assets/fonts/Anta/Anta-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Josefin Sans";
    src: url("assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

body {
    background-color: rgb(38, 46, 52);
    color: rgb(248, 245, 236);
}

h1 {
    font-family: "Anta", sans-serif;
}

h2, p {
    font-family: "Josefin Sans", sans-serif;
}

.dark-theme-color {
    color: rgb(38, 46, 52);
}

.theme-color {
    color: rgb(137, 188, 217);
}

button {
    all: unset;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(38, 46, 52);
}

.anta-font {
    font-family: "Anta", sans-serif;
}

.max-width-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}