<div class="content">
    <div class="project-description">
        <div class="explanation">
            <img src="assets/img/my-projects/ellipse.png" alt="">
            <div class="gap">
                <div class="text-and-duration">
                    <h3>Über das Projekt</h3>
                    <p>Zeitaufwand: 2 Monate</p>
                </div>
                <p>
                    This App is a Slack Clone App. It revolutionizes team communication and collaboration with its intuitive interface, real-time messaging, and robust channel organization.
                </p>
            </div>
        </div>
        <div class="explanation">
            <img src="assets/img/my-projects/ellipse.png" alt="">
            <div class="gap">
                <h3>Mein Arbeitsprozess</h3>
                <p>
                    How do you keep your code clean and maintainable? Have you broken the project down into reusable modules or components? Focus on documentation, naming files, variables, classes and testing.
                </p>
            </div>
        </div>
        <div class="explanation">
            <img src="assets/img/my-projects/ellipse.png" alt="">
            <div class="gap">
                <h3>Meine Erfahrungen in der Teamarbeit</h3>
                <p>
                    How many people were in the team and what was your role? Describe your tasks in 1-2 sentences, for example: login form, dashboard or chat functionality. What technologies did you use? It is nice to mention good teamwork and cooperation.
                </p>
            </div>
        </div>
    </div>
    <div class="project-window">

    </div>
</div>