h3 {
    font-size: 28px;
}

p {
    font-size: 18px;
    max-width: 690px;
}

button {
    padding: 16px 24px;
    border: solid 2px rgb(137, 188, 217);
    border-radius: 30px;
    color: rgb(137, 188, 217);
    font-weight: 500;
}

.content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 32px 64px;
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project-window {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.text-and-duration {
    display: flex;
    align-items: center;
    gap: 32px;
}

.explanation {
    display: flex;
    gap: 32px;

    img {
        height: 26px;
        width: 29px;
    }
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.technologies {
    display: flex;
    gap: 24px;

    img {
        height: 56px;
        width: auto;
    }
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.background-button-live {
    background-color: rgb(137, 188, 217);
    color: rgb(45, 56, 63);
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;

    &:hover {
        transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
        background-color: rgb(248, 245, 236);
        border-color: rgb(248, 245, 236);
    }
}

.background-button-github {
    transition: background-color 0.25s ease-in-out;
    &:hover {
        transition: background-color 0.25s ease-in-out;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.button-container-mobile {
    display: none;
}

.technologies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.technologies-mobile {
    display: none;
}

@media (max-width: 1130px) {
    .content {
        flex-direction: column-reverse;
    }
}

@media (max-width: 1000px) {
    h3 {
        color: rgb(137, 188, 217);
    }

    .content {
        flex-direction: column-reverse;
    }

    .button-container {
        display: none;
    }

    .button-container-mobile {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .technologies-container {
        display: none;
    }

    .technologies-mobile {
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
            font-size: 36px;
        }
    }

    .project-description {
        margin-right: auto;
    }
}